body {
    text-align:center;
}

img {
    width: 100%;
    max-width: 500px;
}

@media (prefers-color-scheme: dark) {
    body {
        background-color: black;
        color: white;
    }

    a:link {
        color: dodgerblue;
    }

    a:visited {
        color: violet;
    }
}
